<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @_localization.GetKey("Title").Value</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UcakWebProje.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            if (ViewData["postData"] is null) {
                ViewData["postData"] = "'[]'";
            }
        }
        <script language="javascript">
            function setCookie(cname, cvalue, exdays) {
                const d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            function rePost(_url) {
                var json = $.parseJSON(@Html.Raw(ViewData["postData"].ToString()))
                $.ajax({
                    type: "POST",
                    url: _url,
                    data: json,
                    success: function () {
                        location.reload();
                    }
                });
            }
        </script>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_localization.GetKey("Title").Value</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_localization.GetKey("Home").Value</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                    @_localization.GetKey("Language").Value
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a onclick="setCookie('.AspNetCore.Culture', 'c%3Den-US%7Cuic%3Den-US', 365)" href="@ViewData["current"].ToString()"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> English
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="setCookie('.AspNetCore.Culture', 'c%3Dtr-TR%7Cuic%3Dtr-TR', 365)" href="@ViewData["current"].ToString()"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> Türkçe
                                        </a>

                                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;
            @DateTime.Now.Year.ToString()
            - UcakWebProje
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
