@model IEnumerable<UcakWebProje.Models.Ucak>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seatCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.seatCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.departure">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <br />
    <center><a class="btn btn-primary" asp-action="Index">@_localization.GetKey("backHome")</a></center>
</p>
