@model IEnumerable<UcakWebProje.Models.Bilet>

<h3 style="color:red;">@TempData["msj"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destination)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.departure">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Index">@_localization.GetKey("backHome")</a>
</p>
