@model IEnumerable<UcakWebProje.Models.Ucak>

@{
    ViewData["Title"] = _localization.GetKey("Ticket Results").Value;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @_localization.GetKey("Seats Remaining").Value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AirLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) TL
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.seatCount)
                </td>
                <td>
                    <a class="btn btn-success" href="/Home/BuyTicket?departure=@item.departure&&destination=@item.destination&&date=@item.date&&AirLine=@item.AirLine&&numberOfPassengers=@ViewData["numberOfPassengers"]">@_localization.GetKey("Buy").Value</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <center>
        @if (Model.Count() == 0)
        {
            <h3 style="color:red;">@_localization.GetKey("ResultNotFound").Value</h3>
        }
        <br />
        <a class="btn btn-primary" asp-action="Index">@_localization.GetKey("backHome")</a>
    </center>
</p>
